[Unit]
Description=Plots T3 pulse candidates
After=network.target

[Service]
ExecStart=/home/cugrex/.local/bin/poetry run python3 /home/cugrex/grex/t3/grex_t3/T3_monitor.py
Environment="POETRY_PROJECT_DIR"=/home/grex/t3/grex_t3/
WorkingDirectory=/home/cugrex/grex/t3/
Restart=always
User=cugrex
Group=cugrex

[Install]
WantedBy=multi-user.target
